.box { background-color: #fff;margin-bottom: 1.5rem;position: relative;border-radius: 3px;  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);}
.text-muted { color: inherit;opacity: 0.6;}
.p-a { padding: 1rem !important;}
.brdr{border-bottom:solid 1px #ddd;margin-bottom:20px;}
.mrng{margin-top:10px;}
.line-legend { list-style: outside none none;}
.m-a-0{color: #797979 !important;   display: block;font-size: 24px;font-weight: 600;}
.dark {min-height:285px; box-sizing: border-box;overflow: hidden;}
.box h5{color:#797979 !important;font-size:16px;line-height:25px;}
.hght{min-height:440px;}
.scrl{min-height:490px;}
.scrl1{min-height:490px;}
.hght h2, .ht h2{color: #797979;font-size:20px;font-weight:600;}
.ht h2{margin-left:15px;}
h6{font-size:16px;color:#797979;line-height: 22px;}
.pdng-rght{padding-right:0px;}
.notif-srch{width:25%;margin-right:10px;}
.srch{display:inline-block;}
@media screen and (max-width: 1160px) {
.pdng-rght{padding-right:15px;}
}
@media screen and (min-width: 768px) and (max-width: 1160px) {
.pdrht{padding-right:0px;}

